[Desktop Entry]
Name=Garlic Player
Name[­de­]=Garlic Player
Comment=Digital Signage Media Player based on SMIL
Comment[­de­]=SMIL-kompatibler Digital Signage Medienplayer
Exec=/opt/garlic-player/garlic.sh
Icon=garlic-player
Terminal=true
Type=Application
Categories=Qt;AudioVideo;Player;
StartupNotify=false 
